#%RAML 1.0
version: 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/013bf23b-6561-4c08-b43a-e353f940f3f8/ # 
title: OpenBanking-Accounts-API

/accounts:
  get:
    description: Retrieve All User Accounts
    headers:
      CustomerId: string
    responses:
      200:
        body:
          application/json:
            example: !include Accounts.json
      404:
        body:
          application/json:
            example: !include 404.json
      500:
        body:
          application/json:
            example: !include 500.json
            
  /{accountId}:
    get:
      description: Retrieve Single Accounts
      responses:
       200:
        body:
          application/json:
            example: !include SingleAccounts.json
       404:
        body:
          application/json:
            example: !include 404.json
       500:
         body:
           application/json:
              example: !include 500.json
    /balances:
      get:
        description: Retrieve Balance for Account
        responses:
          200:
            body:
              application/json:
                example: !include Balances.json
          404:
             body:
              application/json:
                example: !include 404.json
          500:
            body:
              application/json:
                example: !include 500.json
    /transactions:
      get:
        description: Retrieve Transactions for Account
        responses:
          200:
            body:
              application/json:
                example: !include MultiTransactions.json
          404:
             body:
              application/json:
                example: !include 404.json
          500:
            body:
              application/json:
                example: !include 500.json
    /statements:
      get:
        description: Retrieve Statements for Account
        responses:
          200:
            body:
              application/json:
                example: !include MultiStatements.json
          404:
             body:
              application/json:
                example: !include 404.json
          500:
            body:
              application/json:
                example: !include 500.json




  

              
    